python_stack/my_environments
# .gitignore
python_stack/.vscode/
python_stack/python/.idea/
.idea/
.idea/dataSources.xml
*.zip
__pycache__/
venv/
.vscode/
.editorconfig
*.mwb
*.db
*.ini
*.mako
python_stack/flask/first_orm_app/migrations/
/app/
static/storage/