<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Registration Page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
	    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
	<body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-primary">
                <span style="font-size: 3em; color: white;">
                    <i class="fas fa-battery-half"></i>
                </span>
                <a class="navbar-brand abs" href="#">AlmostMatters</a>
                <div class="navbar-collapse collapse" id="collapsingNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/dashboard">Back</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> {{ user.screen_name }} </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item" href="#">Settings</a>
                                <a class="dropdown-item" href="/channels">Channels</a>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <br>
        <div class="container-fluid">
            <h1>AlmostMatters Channels!</h1>
                <br>
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-md-0">
                        <div class="card">
                            <div class="card-body">
                                <form id="create_channel" class="text-center border border-light p-5" action="/create_channel" method="POST">
                                <p class="h4 mb-4">Create New Channel</p>
                                <div class="form-row mb-4">
                                    <div class="col">
                                        <input type="text" name="channel_title" id="channel_title" class="form-control" placeholder="Channel Title">
                                    </div>
                                    <div class="col">
                                        <input type="text" name="channel_description" id="channel_description" class="form-control" placeholder="Channel Description name">
                                    </div>
                                </div>
                                <div class="btn-group channel_types" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="options" value="public" autocomplete="off" checked> Public
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" value="private" autocomplete="off"> Private
                                    </label>
                                </div>
                                    <button class="btn btn-info my-4 btn-block" type="submit">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Public Channels</h2>
                <ul class="list-group">

                    {% for channel in public_channels %}
                        <li class="list-group-item">{{ channel.title }}</li>
                    {% endfor %}
                </ul>
                <h2>Private Channels created by {{ user.screen_name }}</h2>
                <ul class="list-group">
                    {% for channel in owned_channels %}
                    <li class="list-group-item">{{ channel.title }}</li>
                    {% endfor %}
                </ul>



                <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </div>
    </body>
</html>